// .top-bar
// - - - - - - - - - - - - - - - - - - - - - - - - -
.top-bar {
  justify-content: center;

  .menu {

    a {
      color: $white;
      font-family: $header-font-family;
      font-size: rem-calc(map-deep-get($header-styles, small, h1, font-size));
      @include breakpoint(medium) {
        font-size: rem-calc(map-deep-get($header-styles, medium, h1, font-size));
      }

      &:hover,
      &:focus {
        color: $anchor-color-hover;
      }
    }

    .is-active > a {
      color: $anchor-color-hover;
    }
  }
}
